@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
    font-family: 'Montserrat';
}

.custom-background{
   background-color: red;
   color: red;
}

hr{
    border: 6px solid red;
}